@{
    Layout = "~/Views/Shared/_LayoutInfo.cshtml";
    ViewBag.Title = "锁定账户";
    ViewBag.title = "锁定";
    ViewBag.body = "<h5>此账户已锁定！</h5><h5>系统设定锁定时间为30分钟，我们不负责统计时间，请从被锁定时起30分钟后重试！</h5>";
    ViewBag.panelType = "panel-danger";
}