@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = "忘记密码";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-group">
            <input class="form-control" id="Email" name="Email" placeholder="使用本系统时分配的邮件地址" type="email" value="" />
        </div>
        <button id="forgotPassword" type="submit" class="btn btn-lg btn-success btn-block" onclick="ForgotPassword(); return false;">找回密码</button>
        <div style="text-align:left; margin-top:1em;">
            <a href="@Url.Action("Login","Account")"><i class="fa fa-angle-left"></i> 登录</a>
        </div>
    </fieldset>
}